@model Digiphoto.Lumen.SelfService.WebUI.Models.Paniere

@{
	ViewBag.Title = "digiPHOTO - Self Service";

	int totRighe = Model.listaFotografieDto.Length;
	int conta = 0;

	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
	<h2>Chart detail</h2>
	Items count : @totRighe - @Html.DisplayFor( model => model.carrelloDto.titolo )
</div>
	

<div class="container">
	<table class="table table-bordered table-responsive" id="tab-dettaglio">
		<thead>
			<tr>
				<th class="text-right">#</th>
				<th class="text-right">N° foto</th>
				<th class="text-left">Link singola foto</th>
			</tr>
		</thead>

		<tbody>

			@foreach( var item in Model.listaFotografieDto ) {
				<tr>
					<td class="text-right small">
						@(conta = conta + 1)
					</td>
					<td class="text-right">
						@Html.DisplayFor( qq => item.etichetta )
					</td>
					<td>
						@Html.ActionLink( "Download single photo", "GetImage", "Carrello", new { fotografiaId = item.id }, null )
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<div class="container center-block">
	
	<div class="row" id="riga-pulsantoni">

		<div class="col-xs-6 text-center">
			<figure class="bottoncione">
				<a href='@Url.Action("ScaricareZip", "Carrello", new { id = Model.carrelloDto.id } )'>
					<img src='@Url.Content("~/images/zip_file_download.svg")' />
				</a>
				<figcaption>Download zip</figcaption>
			</figure>
		</div>

		<div class="col-xs-6 text-center">
			<figure class="bottoncione">
				<a href='@Url.Action("Index", "Home" )'>
					<img src='@Url.Content("~/images/home.svg")' />
				</a>
				<figcaption>Back to home</figcaption>
			</figure>
		</div>

	</div>

</div>